body{
    background-color: #2D033B;
    margin: 0;
    text-align: center;
}

div.topCont{
    background-color: #810CA8;
    color: white;
    margin-top: 0;
    position: relative;
    padding-top: 100px;
}

h1{
    /*If we use width on element who parent element contain a text-align: center, the child element will no longer remain centered*/
    width: 20%;
    /*To overcome this issue, we use margin auto property, by setting the left and right margin to auto, we center the element*/
    margin: 0 auto 0 auto;
}

.topCont span{
    text-decoration: underline;
}

.topCloud{
    position: absolute;
    right: 80px;
    margin-top: 20px;
}

.bottomCloud{
    position: absolute;
    left: 80px;
}

.midCont{
    background-color: #C147E9;
}

.bottomCont{
    background-color: #E5B8F4;

}

.bottomCont, .midCont {
    height: 200px;
    width: 200px;

}