body{
    background-color: #2D033B;
    margin: 0;
}

div.topCont{
    background-color: #810CA8;
    color: white;
    height: 200px;
    width: 200px;
    position: absolute;
}

h1{
    margin: 0;
}

.topCont span{
    text-decoration: underline;
}

.midCont{
    background-color: #C147E9;
    position: absolute;
    top: 200px;
    left: 200px;
}

.bottomCont{
    background-color: #E5B8F4;
    position: absolute;
    top: 400px;
    left: 400px;

}

.bottomCont, .midCont {
    height: 200px;
    width: 200px;

}